<!doctype html>
<html class="no-js" lang="ro">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Description -->
    <meta name="description" content="MarketingcuMiky">
    <meta name="author" content="Digital Marketing">

    <!-- Title  -->
    <title>Marketing cu Miky - Agentie de marketing digital - Post Page</title>

    <!-- Favicon  -->
    <link rel="icon" href="assets/img/favicon.jpg">

    <!-- ***** All CSS Files ***** -->

    <!-- Style css -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <h1> {{Title}} </h1>
    {{ content | safe }}

 </body>

 </html>   